
@font-face {font-family: "v-icon";
  src: url('iconfont.eot?t=1481092102068'); /* IE9*/
  src: url('iconfont.eot?t=1481092102068#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481092102068') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481092102068') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481092102068#v-icon') format('svg'); /* iOS 4.1- */
}

.v-icon {
  font-family:"v-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before { content: "\e605"; }

.icon-add:before { content: "\34c1"; }

.icon-powerdown:before { content: "\e698"; }

.icon-flag:before { content: "\e6b8"; }

.icon-up:before { content: "\e614"; }

.icon-down:before { content: "\e615"; }

.icon-link:before { content: "\e67d"; }

.icon-woman:before { content: "\e683"; }

.icon-man:before { content: "\e684"; }

.icon-filter:before { content: "\e659"; }

.icon-printer:before { content: "\e662"; }

.icon-loading:before { content: "\e611"; }

